<form action="/converter/convert"  method="get">
	<input name="temp_c" id="celc" value="<%= @celcius %>" placeholder="Temperature in Celcius">
	<input type="hidden" id="farh" value="<%= @farhenheit %>" placeholder="Temperature in Celcius">
	<button>Convert!</button>
</form>

<div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>



