<h3>Convert everything!</h3>
<ul class="nav nav-list">
  <li class="nav-header">What to convert?</li>
  <li><%= link_to "Temperature", "/converter/convert"  %></li>
  <li><%= link_to "Length", "#"  %></li>
  <li><%= link_to "Weight", "#"  %></li>
</ul>